:root {
  --css-primary: rgba(17, 17, 17, 1);
  --css-yellow: rgba(227, 183, 72, 1);
  --css-white: rgba(255, 255, 255, 1);
  --css-grey: rgb(43, 41, 41);
}
html {
  margin: 5%;
  align-items: center;
  font-family: "Times New Roman", Times, serif;
  background-color: var(--css-grey);
}
